<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{/views/layout::header}"></div>

<p>
    <a class="btn btn-outline-primary"th:href="@{/facility}" >Back to List</a>
</p>
<h1 style="text-align: center">Edit information Facility</h1>

<form th:action="@{/facility/edit}" th:object="${facility}" method="post">
    <div class="col-md-6">
        <input type="hidden" th:field="*{id}"/>
    </div>
    <center>
        <div class="col-md-6">
            <select class="form-select" style="color: black ; background-color: yellow" aria-label="Default select example" th:field="*{facilityType}"
                    id="typeFacility" onchange="selectFacilityType();">
                <option value="">Loại dịch vụ</option>
                <option th:each="facility:${facilityTypeList}"
                        th:value="${facility.id}"
                        th:text="${facility.name}">
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label th:for="name" class="form-label">Tên dịch vụ:</label>
            <input type="text" class="form-control" th:field="*{name}">
            <p style="color: red" th:errors="*{name}"></p>
        </div>
        <div class="col-md-6">
            <label th:for="area" class="form-label">Diện tích:</label>
            <input type="text" class="form-control" placeholder="diện tích..." th:field="*{area}">
            <p style="color: red" th:errors="*{area}"></p>
        </div>
        <div class="col-md-6">
            <label th:for="cost" class="form-label">Chi phí thuê:</label>
            <input type="text" class="form-control" placeholder="chi phí thuê..." th:field="*{cost}">
            <p style="color: red" th:errors="*{cost}"></p>
        </div>
        <div class="col-md-6">
            <label th:for="maxPeople" class="form-label">Số lượng người</label>
            <input type="text" class="form-control" placeholder="số lượng người..." th:field="*{maxPeople}">
            <p style="color: red" th:errors="*{maxPeople}"></p>
        </div>
        <div class="col-md-6" id="standardRooms">
            <label th:for="standardRoom" class="form-label">Tiêu chuẩn phòng:</label>
            <input type="text" class="form-control" placeholder="tiêu chuẩn phòng..." th:field="*{standardRoom}">
            <p style="color: red" th:errors="*{standardRoom}"></p>
        </div>
        <div class="col-md-6" id="desciption">
            <label th:for="standardRoom" class="form-label">Mô tả:</label>
            <input type="text" class="form-control" placeholder="mô tả chi tiết..." th:field="*{description}">
            <p style="color: red" th:errors="*{description}"></p>
        </div>

        <div class="col-md-6" id="poolArea">
            <label th:for="standardRoom" class="form-label">Diện tích hồ bơi:</label>
            <input type="text" class="form-control" placeholder="diện tích hồ bơi..." th:field="*{pollArea}">
            <p style="color: red" th:errors="*{pollArea}"></p>
        </div>
        <div class="col-md-6" id="numberOfFloors">
            <label th:for="standardRoom" class="form-label">Số tầng:</label>
            <input type="text" class="form-control" placeholder="số tầng..." th:field="*{numberOfFloor}">
            <p style="color: red" th:errors="*{numberOfFloor}"></p>
        </div>
        <div class="col-md-6" id="facilityFree">
            <label th:for="standardRoom" class="form-label">Dịch vụ miễn phí:</label>
            <input type="text" class="form-control" placeholder="dịch vụ miễn phí" th:field="*{facilityFree}">
            <p style="color: red" th:errors="*{facilityFree}"></p>
        </div>
        <br>
        <div class="col-md-6"><lable class="form-label">Kiểu thuê</lable></div>
        <div class="col-md-6"><select class="form-select" aria-label="Default select example" th:field="*{rentType}">
            <option value="">Kiểu thuê</option>
            <option th:each="facility:${rentTypeList}"
                    th:value="${facility.id}"
                    th:text="${facility.name}">
            </option>
        </select></div>

        <button type="submit" class="btn btn-primary">Xác nhận</button>
    </center>
</form>

<script>
    function selectFacilityType() {
        let x = document.getElementById("typeFacility").value
        debugger
        switch (x) {
            case "1":
                document.getElementById("facilityFree").style.display = "none";
                document.getElementById("standardRooms").style.display = "block";
                document.getElementById("desciption").style.display = "block";
                document.getElementById("numberOfFloors").style.display = "block";
                document.getElementById("poolArea").style.display = "block";
                break;
            case "2":
                document.getElementById("poolArea").style.display = "none";
                document.getElementById("facilityFree").style.display = "none";
                document.getElementById("standardRooms").style.display = "block";
                document.getElementById("desciption").style.display = "block";
                document.getElementById("numberOfFloors").style.display = "block";
                break;
            case "3":
                document.getElementById("standardRooms").style.display = "none";
                document.getElementById("desciption").style.display = "none";
                document.getElementById("numberOfFloors").style.display = "none";
                document.getElementById("poolArea").style.display = "none";
                document.getElementById("facilityFree").style.display = "block";
                break;
            default:
                document.getElementById("standardRooms").style.display = "block";
                document.getElementById("desciption").style.display = "block";
                document.getElementById("numberOfFloors").style.display = "block";
                document.getElementById("poolArea").style.display = "block";
                document.getElementById("facilityFree").style.display = "block";
                break;
        }
    }
</script>
<h1 style="text-align: center" th:text="${mess}"></h1>

<div th:replace="~{/views/layout::footer}"></div>
</body>
</html>