<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<div></div>
<div id="form">
    <form th:action="@{/song/edit}" th:object="${songDto}" method="post" >
        <div>
            <input type="hidden" th:field="*{id}">
        </div>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
            <p th:errors="*{name}"></p>
        </div>
        <div>
            <label>Singer</label>
            <input type="text" th:field="*{singer}"/>
            <p th:errors="*{singer}"></p>
        </div>
        <div>
            <label>Category</label>
            <input type="text" th:field="*{category}"/>
            <p th:errors="*{category}"></p>
        </div>

        <input type="submit" value="Save"/>
    </form>
</div>
<h2 th:text="${mess}"></h2>
</body>
</html>