<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div>
    <table th:if="${cart!=null && cart.getProductMap().size>0}">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="productMap:${cart.productMap}">
            <td th:text="${productMap.key.name}"></td>
            <td th:text="${productMap.key.price}"></td>
            <td th:text="${productMap.key.image}"></td>
            <td th:text="${productMap.key.description}"></td>
            <td th:text="${productMap.value}"></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${cart == null || cart.getProductMap().size()==0}">
        Cart is Empty
    </div>
</div>
</body>
</html>