<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</head>
<body>
<!--      header-->
<div th:replace="~{/views/layout::header}"></div>

<section class="navbar d-flex justify-content-center" id="navbar">
    <div class="col-sm-12 col-md-11 ">
        <h2 style="text-align: center">Quản lý khách hàng</h2>
    </div>
    <form th:action="@{/customer}" method="get">
        <input type="hidden" name="action" value="list">
        <button type="submit">Danh sách</button>
    </form>

    <div class="wrapper h-100 d-flex nav-item" style="margin-left: 95px">
        <div>
            <form th:action="@{/customer/create}">
                <input type="hidden" value="create" name="action">
                <button class="btn btn-outline-primary" type="submit">Thêm Mới</button>
            </form>
        </div>
        <div>
            <form th:action="@{/customer/search}" method="post" style="display: flex;color: #0dcaf0">
                <input class="form-control w-auto mx-2" type="text" placeholder="Search by  Id..." name="name">
                <input class="form-control w-auto mx-2" type="text" placeholder="Search by  Name..." name="email">
                <select class="form-control" name="customerTypeName">
                    <option value="">Chọn loại khách hàng</option>
                    <option th:each="customer: ${customerTypeList}" th:value="${customer.name}"
                            th:text="${customer.name}" th:selected="${customerTypeName==customer.name}"></option>
                </select>
                <button class="btn btn-outline-success mx-2" type="submit"
                        style="margin-right: 0!important; color: black">Search
                </button>
            </form>
        </div>
    </div>
</section>

<div>
    <table id="tableCustomer" class="table table-bordered" style="text-align: center" border="2">
        <thead style="background-color: yellow">
        <tr>
            <th>STT</th>
            <th>Customer Type</th>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Gender</th>
            <th>ID Card</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer,status : ${customerList.content}">
            <td th:text="${status.count}"></td>
            <td th:text="${customer.customerType.name}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.dateOfBirth}"></td>
            <td th:text="${customer.isGender()}"></td>
            <td th:text="${customer.idCard}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>

            <td>
                <a class="btn btn-success btn btn-sm"
                   th:href="@{/customer/{id}/edit(id=${customer.getId()})}">Edit</a>
            </td>
            <td>
                <!-- Button trigger modal DELETE -->
                <button th:attr="onclick=|infoDelete('${customer.id}','${customer.name}')|" type="button"
                        class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--       phân trang-->
<div style="text-align: right; align-content: center ; align-items: center">
    <a th:href="@{/customer(page=${customerList.number - 1})}" th:if="${customerList.hasPrevious()}">
        <button class="btn btn-outline-danger">Trang trước</button>
    </a>
    <span class="btn" th:text="${customerList.number + 1 + '/' + customerList.totalPages}"></span>
    <a th:href="@{/customer(page=${customerList.number + 1})}" th:if="${customerList.hasNext()}">
        <button class="btn btn-outline-danger">Trang tiếp theo</button>
    </a>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/customer/delete}" method="post">
            <div class="modal-body">
                <input hidden id="deleteId" name="deleteId" type="text">
                <span>Bạn có muốn xóa khách hàng </span><span id="deleteName"
                                                              style="color: darkorange"></span><span> ?</span></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    function infoDelete(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
</script>
<!--         Footer-->
<div th:replace="~{/views/layout::footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>